@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{

    background-color: #252525;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}



.logo{

    height: 6vh;
}

header nav{

    width: 20vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

header figure{

    margin-left: 15px;
}

.whatsapp-mobile{

    display: none;
}


.primeira-seção-da-main{

    background-image: url(/Assets/Grupo\ 486.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', serif;
    color: #F4F2F3;

    
}

main h1{

font-size: 6.5vh;
height: 25vh;
width: 43vw;
text-align: center;
color: #F4F2F3;


}

.primeira-seção-da-main div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', serif;
    margin-bottom: 150px;

 
}

.primeira-seção-da-main div h1{

    color: #F4F2F3;

    

}




.segunda-seção-da-main{

    background-image: url(/Assets/Interseção\ 16.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: #3A342F;
}

.segunda-seção-da-main div{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 65vh;
    margin-left: 30px;

}

.segunda-seção-da-main div h2{

font-size: 8.5vh;
height: 18  vh;
width: 43vw;
text-align: center;
color: #3A342F;
display: flex;
margin-bottom: 30px;
font-family: 'Roboto', serif;
font-weight: bold;

}

.segunda-seção-da-main div p{

    width: 36vw;
    height: 36vh;
    font-size: 2rem;
    font-weight: 300 light;
    line-height: 6vh;
    font-family: 'Roboto', serif;
}

.primeiro-botão{

    width: 20vw;
    height: 10vh;
    border-radius: 45px;
    border: none;
    background-color: #3A342F;
    color: #F4F2F3;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 30px;
    
}

button:hover{

transform: scale(1.03);
transition: 0.7s;
}


.terceira-sessão-da-main{

    background-image: url(/Assets/Grupo\ 480.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 130vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #F4F2F3;

}

.terceira-sessão-da-main div{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 65vh;
    margin-right: 50px;
}

.terceira-sessão-da-main div h2{

    font-size: 8.5vh;
width: 30vw;
text-align: center;
color: #F4F2F3;
display: flex;
text-align: left;
margin-bottom: 30px;
font-family: 'Roboto', serif;
font-weight: bold;
}

.terceira-sessão-da-main div p{

    width: 36vw;
    height: 36vh;
    font-size: 2rem;
    font-weight: 300 light;
    line-height: 6vh;
    font-family: 'Roboto', serif;
}

.segundo-botão{

    width: 20vw;
    height: 10vh;
    border-radius: 45px;
    border: none;
    background-color: white;
    color: #3A342F  ;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 60px;

}


.sessão-apoio{

    background-color: white;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sessão-apoio div{

    width: 70vw;
    display: flex;
    justify-content: space-evenly;

}

.sessão-apoio img{

    width: 20vw;

}

.sessão-apoio figure{

    width: 50vw;
    display: flex;
    justify-content: space-evenly;
}

.sessão-apoio h3{

    font-family: 'Roboto', sans-serif;
    font-weight: 300 italic;
    color: #FD6A9A;

}

footer{

 height: 55vh;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 
 background-color: #FD6A9A;
}

footer div{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 35vh;
    width: 25vw;
    color: #F4F2F3;
    font-family: 'Roboto';
}

footer div h3{

    width: 25vw;
    font-size: 1.8rem;
}

footer nav{

    display: none;
}

footer figure{

    display: none;
}

@media (max-width: 860px){

    header{

        position: sticky;
        top: 0.1px;
    }
    
    
    .barra-de-navegação{

    display: none;
    
}

.whatsapp-mobile{

    display: block;
    width: 6vh;
}

header figure{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.primeira-seção-da-main{

    background-image: url(/Assets/Grupo\ 485.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 120vh;

}

.primeira-seção-da-main div{
    height: 80vh;
    width: 80vw;
    display: flex;
    justify-content: space-evenly;
    
    
}

.primeira-seção-da-main h1{

font-size: 3rem;
width: 65vw;
text-align: center;

}

.segunda-seção-da-main{

background-image: url(/Assets/Grupo\ 484.png);
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
height: 140vh;
display: flex;
align-items: flex-start;


}

.segunda-seção-da-main div{

   height: 35vh;
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
   margin-top: 150px;


}

.segunda-seção-da-main div h2{

    font-size: 4.6vh;
    height: 18vh;
    width: 43vw;
    text-align: center;
    color: #3A342F;
    margin-bottom: 30px;
    font-family: 'Roboto', serif;
    font-weight: bold;
    
    }

.segunda-seção-da-main div p{

    width: 48vw;
    height: 36vh;
    font-size: 1.4rem;
    font-weight: 300 light;
    line-height: 3.9vh;
    font-family: 'Roboto', serif;
}   

.segunda-seção-da-main button{

    width: 30vw;
    height: 8vh;
}

.terceira-sessão-da-main{

    background-image: url(/Assets/Grupo\ 496.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    height: 140vh;
    display: flex;
align-items: flex-start;
justify-content: flex-start;

}

.terceira-sessão-da-main div{

    height: 40vh;
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
   margin-top: 150px;
   margin-left: 40px;

}

.terceira-sessão-da-main div h2{

    font-size: 4.6vh;
    text-align: justify;
    height: 18vh;
    width: 52vw;
    color: #F4F2F3;
    font-family: 'Roboto', serif;
}

.terceira-sessão-da-main div p{

    width: 48vw;
    height: 36vh;
    font-size: 1.4rem;
    font-weight: 300 light;
    line-height: 3.9vh;
    font-family: 'Roboto', serif;
    
}

.terceira-sessão-da-main button{

    width: 30vw;
    height: 8vh;
}

.sessão-apoio div{

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sessão-apoio img{

    width: 25vw;
}

.sessão-apoio figure{

    display: flex;
    width: 56vw;
    justify-content: space-between;
}

footer{

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 130vh;
    text-align: center;
    font-size: 1.7rem;
}

footer figure{
    display: block;
}

footer .logo{

    
    width: 32vw;
    height: 10vh;
}

footer .barra-de-navegação{

    display: flex;
    width: 35vw;
    justify-content: space-around;
}

footer div h3{

    width: 25vw;
    font-size: 2rem;
    text-align: center;
}

footer div{

    width: 35vw;
    display: flex;
    align-items: center;
    justify-content: center;
}




}